<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Oj, dole ti poruka sa onog sajta što praviš! Mejl stiže od
        <%= "#{@name}, #{@email}." %></p>
        <p><%= @body %></p>
    </body>
</html>